Скопировать кодBASH
# игнорировать файл README.md
README.md

# игнорировать файл side.txt в директории build
build/side.txt

# игнорировать все файлы с расширением .doc
*.doc

# игнорировать идеи и настройки
/.idea

# игнорировать вирт окружение
#/venv

# игнорить first
/first

# игнорить venvpycharm
/venvpycharm